* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
html{
    font-size: 16px;
}
body{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    color: #4b6a83;
    background-color: #e8eaed;
}
h1, h2, h3, h4{
    font-family: 'Lato', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    color: #4b6a83;
}
h1{
    font-weight: 700;
}
header{
    background-color: white;
    margin-bottom: 2rem;
}
.container{
    max-width: 1163px;
    margin: 0 auto;
    padding: 0 2rem;
}
nav ul li a{
    color: #4b6a83;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}
nav ul a:link, nav ul a:visited{
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
nav ul a:hover, nav ul a:active{
    color: #e17d7d;
}
header .flex{
    padding: 2rem;
}
.flex{
    display: flex;
}
.logo img{
    width: 10%;
    margin-bottom:-1rem;
    margin-top: -1rem;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}
nav ul{
    display: flex;
    list-style: none;
    margin-top: 13px;
    justify-content: center;
}
nav ul li{
    margin-left: 2rem;
}
h1{
    text-align: center;
}
/*--------------------------------------------------------------------------------------------------*/
.decole{
    margin: 2rem 10rem;
}
/* Le carousel*/
.q{
    justify-items: center;
    text-align: center;
    width: 20rem;
    height: 25rem;
    margin-bottom: 5rem;
}
.slide img{
    height: 15rem;
}
.container2{
    max-width: 400px;
    margin: 0 auto;
}
/* Validation css*/
input:invalid{
    background-color: #e17d7d;
}
input:valid{
    background-image: url("png-clipart-green-check.png");
    background-size: contain;
    background-position: right top;
    background-repeat: no-repeat;
}
/*Icon pour le carousel*/

.carousel-control-prev{
    background-color: white;
}
.carousel-control-next{
    background-color: white;
}
.carousel-control-prev-icon{
    background-color: #4b6a83;
}
.carousel-control-next-icon{
    background-color: #4b6a83;
}
.texte{
    color: #4b6a83;
    font-size: 2rem;
    padding-left: 1rem;
}
@media (max-width:1024px) {
    .decole{
        margin: 2rem 5rem;
    }
    .q{
        width: 15rem;
        height: 20rem;
    }
    .slide img{
        height: 10rem;
    }
    .container2{
        max-width: 300px;
        margin: 0 auto;
    }
    .carousel-control-prev-icon{
        width: 1.5rem;
        height: 1.5rem;
    }
    .carousel-control-next-icon{
        width: 1.5rem;
        height: 1.5rem;
    }
    .texte{
        font-size: 1.5rem;
        padding-left: 0.8rem;
    }
}
@media (max-width:500px) {
    .decole{
        margin: 2rem 2rem;
    }
    .carousel-control-prev{
        width: 5rem;
    }
    .carousel-control-next{
        width: 5rem;
    }
    .q{
        width: 10rem;
        height: 15rem;
    }
    .slide img{
        height: 5rem;
    }
    .container2{
        max-width: 150px;
        margin: 0 auto;
    }
    .carousel-control-prev-icon{
        width: 1rem;
        height: 1rem;
    }
    .carousel-control-next-icon{
        width: 1rem;
        height: 1rem;
    }
    .texte{
        font-size: 1rem;
        padding-left: 0.2rem;
    }
}
